/betterleaks_reports
/lambda_code
/betterleaks_src
/aws_secrets_checker/__pycache__
/aws_secrets_checker/collectors/__pycache__
/collected_code
.DS_Store
/awsleaks/collectors/__pycache__
/awsleaks/__pycache__
/awsleaks/surface/__pycache__
/surface_results
/awsleaks_secrets_*